# Archivos compilados
target/
*.class
*.jar
*.war
*.ear

# Logs
*.log
logs/

# IDEs
.idea/
*.iws
*.iml
*.ipr
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Maven
.mvn/wrapper/maven-wrapper.jar

# Variables de entorno locales
.env
.env.local